body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4e2d8;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d2691e;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cta-button {
    background-color: #d2691e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 50px;
}

.parallax {
    background-image: url('public/99px_ru_animacii_30539_mujskie_ruki_lepjat_iz_glini_gorshok_vnutri_kotorogo.gif');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.section {
    padding: 60px 20px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-behavior: smooth;
    cursor: grab;
    padding: 10px;
    border-radius: 10px;
}

.carousel::-webkit-scrollbar {
    height: 10px; /* Высота скроллбара */
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #d2691e; /* Цвет ползунка */
    border-radius: 5px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f4e2d8; /* Цвет фона скроллбара */
}

.carousel-item {
    flex: 0 0 auto;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-gallery {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-gallery-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 20px 0;
}

.carousel-gallery img {
    flex: 0 0 auto;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
}

.carousel-button {
    background-color: #d2691e;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    /* border-radius: 50%; */
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

footer {
    background-color: #f4e2d8;
    padding: 20px;
    text-align: center;
}

.map-container {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #f4e2d8;
        padding: 15px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: block;
    }
}

/* Стили для скроллбаров */
.carousel-gallery-track::-webkit-scrollbar {
    height: 10px;
}

.carousel-gallery-track::-webkit-scrollbar-thumb {
    background-color: #d2691e;
    border-radius: 5px;
}

.carousel-gallery-track::-webkit-scrollbar-track {
    background-color: #f4e2d8;
}


.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    /* Полупрозрачный фон */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideAnimation 20s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 5s;
}

.slide:nth-child(3) {
    animation-delay: 10s;
}

.slide:nth-child(4) {
    animation-delay: 15s;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #d2691e;
}

button {
    background-color: #915a33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #d2691e;
    transform: scale(1.05);
}


.contact-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #666;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contact-section label {
    font-size: 16px;
    color: #555;
    align-self: flex-start;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #d2691e;
    outline: none;
}

.contact-section button {
    background-color: #d2691e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.contact-section button:hover {
    background-color: #c05818;
    transform: scale(1.05);
}

.contact-section textarea {
    resize: vertical;
    min-height: 100px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content {
    padding: 20px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-popup:hover {
    color: #d2691e;
}

#popupText {
    font-size: 18px;
    color: #333;
}

.popup.show {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.about-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background-attachment: fixed;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('public/vecteezy_ai-generated-pottery-and-ceramics-craft-isolated-on_37279677.png'); /* Замените на ссылку на вашу GIF-анимацию */
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* Регулируйте прозрачность по необходимости */
    z-index: -1;
    transform: translateZ(0); /* Оптимизация для параллакса */
}

.about-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости текста */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
}
